In [62]:
import pandas as pd
import os
import json

In [63]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)  # For older pandas
pd.set_option('display.max_colwidth', None)  # For newer pandas

In [64]:
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
pd.reset_option('display.width')
pd.reset_option('display.max_colwidth')

In [65]:
#Loading the entire output of BERTopic
df_whole = pd.read_json("../../../../BERTopicResult/BERTopic_final_result.json",lines=True)
df_whole.shape

(90213, 3)

In [66]:
path = "../"
all_rows = []

for filename in os.listdir(path):
    if not filename.endswith(".json"):
        continue
    df = pd.read_json(f"{path}/{filename}")
    
    for idx, row in df.iterrows():
        topic = row["topic"]
        
        sample = row["samples"]
        # Add topic to each sample dict
        sample["topic"] = topic
        all_rows.append(sample)
df_prior = pd.DataFrame(all_rows)    


#split label predictions into list of strings
df_prior["gpt_label"] = df_prior["gpt_label"].apply(lambda x: [label.strip() for label in x.split(",")])

#separate label prediction into additional rows in the df
df_labels = df_prior.explode("gpt_label").reset_index(drop=True)

df_labels.shape

(24755, 4)

In [67]:
df_prior.head(5)
# df_prior[df_prior.topic == 1045].head().gpt_label.iloc[0]
# df_prior.shape

,cid,text,gpt_label,topic
0,bafyreihxfqbtq23vwj2mldk6huwkovfyq7yzibzf7wsv3...,President Trump Trying To Remove 150 Years Of ...,"[Politics, Activism]",0
1,bafyreieqygyajo3rsx4ntye5jj4kyxxl33rzfhcqqjki6...,2 Fix the real shit that is broken. Like minim...,"[Activism, Politics]",0
2,bafyreiasdqzid6rvbkvwzkeuwrwfqyxbdno4n6kom5gii...,Today is 7years after Latour wrote his book. C...,"[Politics, Disaster]",0
3,bafyreid7ok2wsoe3wlzswdf246drcasvrirux46uaoabv...,Deb Fischer might be one of the stupidest peop...,"[Politics, Activism]",0
4,bafyreiexy54ja7upnu4ahbxj4ggjdhiet3e3iglc6y4ka...,Join me in following myzerocarbon.org! The cur...,"[Activism, Politics]",0

In [68]:
df_labels.head()
df_labels.shape

(24755, 4)

In [69]:
df_whole.head()

,cid,text,topic
0,bafyreihmqtib6dm76dgrnpiz5gdbzzcnskqpjovbi3owy...,Thank you hayleysmith.bsky.social latimes.com ...,7
1,bafyreic5q4z3jyudbkjj24t433h3giy6oicy6rv2ih4vz...,Can't wait for his demise. Never ever have I w...,0
2,bafyreibscp2vq5za5kbs2hw64jxpsu7of3jst2mldlwgl...,What aspect of it is art But also please answe...,3
3,bafyreiglnfw2lfy6msf7n3cx4bouno75znasu4hrgnnrt...,ClimateChanger denier at my Hurricanes demo st...,0
4,bafyreiaeny4uerr5osifz7fjsqwivnv7n7d7dpw5svja2...,Day 56 of trying to work with nature to reduce...,9

In [70]:
#get the counts, create final df
df_final = pd.DataFrame()
df_gpt_label = pd.DataFrame()

for topic in df_labels.topic.unique():
    df_topic = df_prior[df_prior.topic==topic]
    n = int(df_topic.shape[0]/2)
    df_topic = df_labels[df_labels.topic==topic]
    print(f"topic: {topic}")
    print(f"n: {n}")
    
    label_counts = df_topic.groupby(["topic", "gpt_label"]).size().reset_index(name="count")
    # print(f"counts:\n{label_counts}")
    filtered = label_counts[label_counts["count"] > n]
    if not filtered.empty:
        for i in range(filtered.shape[0]):
            row = filtered.iloc[i]
            label = row["gpt_label"]
            # print(f"label to predict: {label}")
            df_add = df_whole[df_whole["topic"] == topic].copy()
            df_add["predicted_label"] = label

            
            label_count = label_counts[(label_counts["gpt_label"] == label) & (label_counts["topic"] == topic)]["count"].values[0]
            df_add["weight"] = round(label_count / (n*2), 3)
            df_final = pd.concat([df_final, df_add], ignore_index=True)
            # print(f"above half:\n{filtered[["gpt_label","count"]]}")
            
            df_gpt_temp = df_prior[df_prior.topic == topic].copy() 
            df_gpt_temp["predicted_label"] = label
            df_gpt_label = pd.concat([df_gpt_label,df_gpt_temp], ignore_index=True)
    else:
        top_label = label_counts.sort_values("count", ascending=False).iloc[0]["gpt_label"]
        df_add = df_whole[df_whole["topic"] == topic].copy()
        df_add["predicted_label"] = top_label
    

        label_count = label_counts[(label_counts["gpt_label"] == top_label) & (label_counts["topic"] == topic)]["count"].values[0]
        df_add["weight"] = round( label_count / (n*2), 3)
        df_final = pd.concat([df_final, df_add], ignore_index=True)
        
        df_gpt_temp = df_prior[df_prior.topic == topic].copy() 
        df_gpt_temp["predicted_label"] = label
        df_gpt_label = pd.concat([df_gpt_label,df_gpt_temp], ignore_index=True)
        # print(f"less than half:\n{label_counts[label_counts['gpt_label'] == top_label][['gpt_label', 'count']]}")
#gpt label df

topic: 0
n: 150
topic: 1
n: 150
topic: 2
n: 150
topic: 3
n: 150
topic: 4
n: 150
topic: 5
n: 150
topic: 6
n: 150
topic: 7
n: 150
topic: 8
n: 150
topic: 9
n: 150
topic: 10
n: 150
topic: 11
n: 150
topic: 12
n: 150
topic: 13
n: 150
topic: 14
n: 150
topic: 15
n: 150
topic: 16
n: 150
topic: 17
n: 150
topic: 18
n: 147
topic: 19
n: 145
topic: 20
n: 144
topic: 21
n: 143
topic: 22
n: 142
topic: 23
n: 140
topic: 24
n: 77
topic: 25
n: 77
topic: 26
n: 74
topic: 27
n: 73
topic: 28
n: 72
topic: 29
n: 70
topic: 30
n: 70
topic: 31
n: 35
topic: 32
n: 35
topic: 33
n: 34
topic: 34
n: 32
topic: 35
n: 32
topic: 36
n: 32
topic: 37
n: 31
topic: 38
n: 31
topic: 39
n: 31
topic: 40
n: 31
topic: 41
n: 30
topic: 42
n: 30
topic: 43
n: 30
topic: 44
n: 30
topic: 45
n: 30
topic: 46
n: 29
topic: 47
n: 29
topic: 48
n: 29
topic: 1000
n: 150
topic: 1001
n: 150
topic: 1002
n: 149
topic: 1003
n: 140
topic: 1004
n: 76
topic: 1005
n: 76
topic: 1006
n: 76
topic: 1007
n: 73
topic: 1008
n: 73
topic: 1009
n: 69
topic: 1010
n: 35
topic: 1011
n: 35
topic: 1012
n: 35
topic: 1013
n: 34
topic: 1014
n: 34
topic: 1015
n: 34
topic: 1016
n: 34
topic: 1017
n: 33
topic: 1018
n: 32
topic: 1019
n: 32
topic: 1020
n: 32
topic: 1021
n: 32
topic: 1022
n: 31
topic: 1023
n: 31
topic: 1024
n: 30
topic: 1025
n: 29
topic: 1026
n: 29
topic: 1027
n: 29
topic: 1028
n: 13
topic: 1029
n: 13
topic: 1030
n: 13
topic: 1031
n: 12
topic: 1032
n: 12
topic: 1033
n: 12
topic: 1034
n: 12
topic: 1035
n: 12
topic: 1036
n: 12
topic: 1037
n: 12
topic: 1038
n: 12
topic: 1039
n: 12
topic: 1040
n: 12
topic: 1041
n: 12
topic: 1042
n: 12
topic: 1043
n: 12
topic: 1044
n: 12
topic: 1045
n: 12
topic: 1046
n: 12
topic: 1047
n: 12
topic: 1048
n: 11

In [71]:
df_final.shape

(102356, 5)

In [72]:
df_final.sample(100)

,cid,text,topic,predicted_label,weight
39194,bafyreig54ejrj2u2exret5sz3hbbkkewqofapcqon6bqi...,Sorted through firm's industrial-size dumpster...,9,Waste,0.953
69940,bafyreifrkps7vjwdc7conuu5o5fwe5sgjcrvp3y5iuz73...,Yea. A bad look for you. Maybe learn about the...,32,Politics,0.414
20553,bafyreifinqm7ekwcjuwi2wvz2sbfk2ffcehgjt67msene...,AI reminds me of John Kerry basing future clim...,3,Renewable,0.390
22082,bafyreif3pi62ousjgftlpe5llqxogkccy3hsxjzycwjrq...,It’s also destroying the planet as its AI and ...,3,Renewable,0.390
19727,bafyreidfflhtblix6si4rk64do6yncly43fjkgka46xht...,I'm not saying that I'm a snob for NECA and Jo...,3,Renewable,0.390
...,...,...,...,...,...
58823,bafyreia7m2sfqhk7xlhynmuaybzf7zeavnrvkb5gkqzqs...,That doesn't mean it is falling faster than it...,20,Fossil,0.885
70312,bafyreiair743jgbn6gcj4gjqzfad2lprc565gyxys2ft2...,musk makes obvious what space colonization has...,33,Politics,0.809
70156,bafyreicv4eapl3qumnvzwxltkr4txxyvr2ziygzpae5cp...,While ecological damage caused by cats has bee...,32,Politics,0.414
6960,bafyreihjvayjzjzi6dcnzyoqleohm64dbua6a3ugabvxa...,"the Dems claim that they support these things,...",0,Politics,0.767
98917,bafyreigdgbjei2y5hixdjrohjl2ggrtwaylv7e32j24ve...,You're going to need 30 years to update the tr...,1027,Transportation,0.828

In [73]:
save_path = f"{path}/result"

In [ ]:
os.makedirs(save_path,exist_ok=True)
df_final.to_pickle(f"topic_predictions_clean.pkl")

In [ ]:
df_gpt_label.to_pickle(f"gpt_topic_predictions_clean.pkl")

In [76]:
#save gpt temp
df_gpt_label.head()

,cid,text,gpt_label,topic,predicted_label
0,bafyreihxfqbtq23vwj2mldk6huwkovfyq7yzibzf7wsv3...,President Trump Trying To Remove 150 Years Of ...,"[Politics, Activism]",0,Politics
1,bafyreieqygyajo3rsx4ntye5jj4kyxxl33rzfhcqqjki6...,2 Fix the real shit that is broken. Like minim...,"[Activism, Politics]",0,Politics
2,bafyreiasdqzid6rvbkvwzkeuwrwfqyxbdno4n6kom5gii...,Today is 7years after Latour wrote his book. C...,"[Politics, Disaster]",0,Politics
3,bafyreid7ok2wsoe3wlzswdf246drcasvrirux46uaoabv...,Deb Fischer might be one of the stupidest peop...,"[Politics, Activism]",0,Politics
4,bafyreiexy54ja7upnu4ahbxj4ggjdhiet3e3iglc6y4ka...,Join me in following myzerocarbon.org! The cur...,"[Activism, Politics]",0,Politics

In [77]:
#EDA
# Check basic info and nulls
print(df_final.info())
print("\nMissing values:\n", df_final.isnull().sum())

# Check if 'predicted_label' is missing or contains unexpected values
print("\nNumber of rows where predicted_label is missing:")
print(df_final['predicted_label'].isnull().sum())

# Check types of values in predicted_label
print("\nUnique predicted labels:")
print(df_final['predicted_label'].unique())

# Frequency of predicted labels
print("\nPredicted label counts:")
print(df_final['predicted_label'].value_counts(dropna=False))

# Look for rows with empty strings or suspicious content
print("\nRows where predicted_label is empty string:")
print(df_final[df_final['predicted_label'] == ''])

print("\nRows where predicted_label is not a string (e.g., int or None):")
print(df_final[~df_final['predicted_label'].apply(lambda x: isinstance(x, str))])

# Check for duplicates based on cid or full row
print("\nNumber of duplicate rows:", df_final.duplicated().sum())
print("Number of duplicate cids:", df_final['cid'].duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102356 entries, 0 to 102355
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   cid              101958 non-null  object
 1   text             102356 non-null  object
 2   topic            102356 non-null  int64
 3   predicted_label  102356 non-null  object
 4   weight           102356 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 3.9+ MB
None

Missing values:
 cid                398
text                 0
topic                0
predicted_label      0
weight               0
dtype: int64

Number of rows where predicted_label is missing:
0

Unique predicted labels:
['Politics' 'Fossil' 'Renewable' 'Transportation' 'Electricity' 'Waste'
 'Agriculture' 'Nature' 'Weather' 'Activism' 'Disaster' 'Construction'
 'Lifestyle']

Predicted label counts:
predicted_label
Politics          42655
Renewable         17480
Fossil             9423
Electricity        6155
Waste              5798
Nature             4631
Activism           3858
Weather            3583
Transportation     2996
Agriculture        2587
Disaster           1352
Construction       1247
Lifestyle           591
Name: count, dtype: int64

Rows where predicted_label is empty string:
Empty DataFrame
Columns: [cid, text, topic, predicted_label, weight]
Index: []

Rows where predicted_label is not a string (e.g., int or None):
Empty DataFrame
Columns: [cid, text, topic, predicted_label, weight]
Index: []

Number of duplicate rows: 0
Number of duplicate cids: 12510

In [78]:
label_counts[label_counts.topic == 1045]

Empty DataFrame
Columns: [topic, gpt_label, count]
Index: []

In [79]:
filtered = label_counts[label_counts["count"] > 10]
# filtered[filtered["count"] == 3].shape
filtered

   topic gpt_label  count
5   1048  Politics     21

In [80]:
df_final[df_final.topic==3].head()

,cid,text,topic,predicted_label,weight
19299,bafyreibscp2vq5za5kbs2hw64jxpsu7of3jst2mldlwgl...,What aspect of it is art But also please answe...,3,Renewable,0.39
19300,bafyreif4msuuwitl722q43xeifuyxf333sd255q6hubmp...,Must direct énergies where they will not be wa...,3,Renewable,0.39
19301,bafyreib2lqwzsokcmyvwyzoqu5blskixwqe5clpzzjle6...,Pro-AI gets you muted here. It is both the too...,3,Renewable,0.39
19302,bafyreia6s4f6uvdhrw7tl4o2uykgvpkmnfpgy62lpqkxj...,"Ya, here where they are building data centers ...",3,Renewable,0.39
19303,bafyreianagvlrmveqo5p7syjxo4hpa73h22d36u7z2fkb...,Why do you support computer generated artAI Do...,3,Renewable,0.39