In [8]:
import pandas as pd
from collections import Counter

In [89]:
df1 = pd.read_json("posts_backup_1.json")
df2 = pd.read_json("posts_filtered_1.json")
df3 = pd.read_json("climate_classified_posts_1.json")
df4 = pd.read_json("cleaned_run3_input.json",lines=True)
df5 = pd.read_json("run3_result.json",lines=True)
df6 = pd.read_json("run4_result.json",lines=True)
df8 = pd.read_json("run1_result.json",lines=True)
df8_0 = df8[df8.topic==0]
df8_dedup = df8_0.drop_duplicates(subset="cid", keep="first")

In [37]:
#clear ram
df1 = 1
df2 = 1
df3 = 1
df4 = 1
df5 = 1
df6 = 1
df7 = 1
df8 = 1

In [91]:
df8.topic.unique()

array([ 0, -1,  2,  1])

In [31]:
#proportion of data kept
print(len(df1))
df1 = df1.loc[df1.langs.notna()]
print(len(df1))
all_langs = [lang for sublist in df1["langs"] for lang in sublist]

# Count each language
lang_counts = Counter(all_langs)
print(lang_counts)

100000
93974
Counter({'en': 68672, 'ja': 5127, 'tr': 4994, 'pt': 3435, 'de': 2514, 'es': 2510, 'fr': 1892, 'ko': 743, 'nl': 677, 'ru': 536, 'pl': 480, 'ar': 400, 'it': 362, 'sv': 261, 'zh': 242, 'fi': 187, 'en-US': 150, 'th': 149, 'el': 110, 'ca': 103, 'nb': 93, 'uk': 80, 'da': 74, 'cs': 73, 'he': 66, 'id': 62, 'sq': 48, 'ja-JP': 47, 'fa': 33, 'jp': 30, 'gl': 25, 'hu': 22, 'am': 17, 'ab': 15, 'ak': 15, 'tl': 14, 'en-AU': 14, 'sr': 12, 'et': 12, 'af': 12, 'av': 12, 'nn': 12, 'is': 11, 'no': 11, 'pt-BR': 10, 'eu': 9, 'az': 9, 'sk': 8, 'bg': 8, 'sl': 7, 'de-DE': 7, 'hy': 6, 'fr-FR': 6, 'mk': 5, 'zza': 5, 'an': 4, 'aa': 4, 'ga': 4, 'cy': 4, 'Angika': 3, 'es-ES': 3, 'lt': 3, 'en-CA': 3, 'it-IT': 3, 'nl-NL': 3, 'as': 2, 'pt-PT': 2, 'vi': 2, 'ay': 2, 'hr': 2, 'lv': 1, 'ro': 1, 'ast': 1, 'kw': 1, 'bs': 1, 'sv-FI': 1, 'sv-SE': 1, 'sa': 1, 'pa': 1, 'hi': 1, 'be': 1, 'tlh': 1, 'zh-CN': 1, 'bn': 1, 'ur': 1, 'ho': 1, 'ae': 1, 'bm': 1})

In [21]:
Counter(df5.topic)

Counter({-1: 77996,
         0: 11054,
         1: 8072,
         2: 7269,
         3: 6122,
         4: 6060,
         5: 4990,
         6: 4872,
         7: 3784,
         8: 3069,
         9: 2734,
         10: 2643,
         11: 2621,
         12: 2373,
         13: 2240,
         14: 1709,
         15: 1622,
         16: 1608,
         17: 1594,
         18: 1541,
         19: 1529,
         20: 1219,
         21: 1190,
         22: 1034,
         23: 1033,
         24: 855,
         25: 756,
         26: 737,
         27: 636,
         28: 535,
         29: 492,
         30: 483,
         31: 418,
         32: 411,
         33: 381,
         34: 375,
         35: 346,
         36: 328,
         37: 305,
         38: 301,
         39: 293,
         40: 279,
         41: 257,
         42: 255,
         43: 220,
         44: 213,
         45: 212,
         46: 207,
         47: 206,
         48: 201})

In [25]:
Counter(df6.topic)

Counter({-1: 52024,
         0: 6199,
         1: 1882,
         2: 1568,
         3: 1131,
         4: 1041,
         5: 976,
         6: 899,
         7: 813,
         8: 749,
         9: 745,
         10: 651,
         11: 628,
         12: 568,
         13: 552,
         14: 545,
         15: 512,
         16: 509,
         17: 495,
         18: 472,
         19: 438,
         20: 356,
         21: 304,
         22: 294,
         23: 238,
         24: 208,
         25: 188,
         26: 182,
         27: 170,
         28: 169,
         29: 168,
         30: 161,
         31: 150,
         33: 145,
         32: 145,
         34: 132,
         35: 129,
         36: 126,
         37: 123,
         38: 118,
         40: 114,
         41: 114,
         39: 114,
         42: 113,
         43: 109,
         44: 108,
         45: 108,
         46: 107,
         47: 106,
         48: 100})

In [95]:
df1["seq"].value_counts()[df1["seq"].value_counts() > 1]

seq
7595575636    21
7594814253    19
7594690730    19
7594788371    17
7595314854    15
              ..
7594988657     2
7595075112     2
7594742213     2
7595982859     2
7595983646     2
Name: count, Length: 858, dtype: int64

In [30]:
df3["cid"].value_counts()[df3["cid"].value_counts() > 1]

Series([], Name: count, dtype: int64)

In [33]:
df7["cid"].value_counts()[df7["cid"].value_counts() > 1]

Series([], Name: count, dtype: int64)

In [86]:
#merge the cleaned data with the cid data

clean_df = df4.merge(df8[["cid","text"]], on="text", how="left")
print(clean_df.shape)
clean_df = clean_df.drop_duplicates(subset="cid", keep="first")
print(clean_df.shape)

(267331, 4)
(139007, 4)

In [77]:
dupe_cids = df8[df8["cid"].duplicated(keep=False)]  # All duplicate cids, not just the second occurrence
cid_counts = Counter(dupe_cids["cid"])
sorted_counts = cid_counts.most_common()

In [81]:
sorted_counts

[]

In [82]:
df8[df8.cid == "bafyreigiyitdh2tlbfrpsg6mskpotrt3eqkzfijxbxzu7vgq6ucmnke3ku"]

,cid,text,topic
148163,bafyreigiyitdh2tlbfrpsg6mskpotrt3eqkzfijxbxzu7...,apnews.comarticletrum... exempts nearly 70 coa...,0

In [83]:
df4[df4["text"].duplicated(keep=False) == True]
# df8.shape

               seq                                               text  topic
6       7594666256  Ukraine will send a team to the US next week f...     59
30      7594876880  Your Sunday morning podcast is HERE. Fire up t...     99
31      7594894311  Ukraine will send a team to the US next week f...     59
100     7595382388  If you see this, quote with the energy you bri...     26
122     7595570922  4,000 Meters Below Sea Level, Scientists Have ...     -1
...            ...                                                ...    ...
169591  8220861710  WD-40 Specialist Cleaner Degreaser, Multi-Surf...     -1
169601  8220930202  WD-40 Specialist Cleaner Degreaser, Multi-Surf...     -1
169670  8221252263  Trump is such an amazing president for the env...     -1
169675  8221266709  Trump is such an amazing president for the env...     -1
169679  8221286231  Trump is such an amazing president for the env...     -1

[64079 rows x 3 columns]

In [93]:
df8.topic.unique()

array([ 0, -1,  2,  1])

In [98]:
import pandas as pd

params = [
    {"Run": 1, "min_cluster_size": 1000, "min_samples": 300, "n_neighbors": 15, "n_components": 7, "min_dist": 0.0},
    {"Run": 2, "min_cluster_size": 200,  "min_samples": 50, "n_neighbors": 20, "n_components": 7, "min_dist": 0.0},
    {"Run": 3, "min_cluster_size": 200,  "min_samples": 50, "n_neighbors": 20, "n_components": 11, "min_dist": 0.0},
    {"Run": 4, "min_cluster_size": 100,  "min_samples": 25, "n_neighbors": 20, "n_components": 11, "min_dist": 0.0},
]

df = pd.DataFrame(params)
df

   Run  min_cluster_size  min_samples  n_neighbors  n_components  min_dist
0    1              1000          300           15             7       0.0
1    2               200           50           20             7       0.0
2    3               200           50           20            11       0.0
3    4               100           25           20            11       0.0

In [100]:
df.to_csv("params.csv", index=False)